<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="gestor-cliente">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
        <div class="row">
            <image class="col-lg-8 colg-xs-12" src="https://image.flaticon.com/icons/svg/1401/1401914.svg"></image>
            <button on-click="obtenerCliente" class = "btn btn-success col-lg-8 col-xs-12" type="button" name="button">Obtener Cliente</button>

        </div>
        <div class="row">
              <table  class="table table-striped col-lg-12 col-xs-8">
                <thead>
                    <th>ID
                    </th>
                    <th>Contacto</th>
                    <th>
                      Compañia
                    </th>
                </thead>
                <tbody>
                  <template is="dom-repeat" items={{clientes}}>
                    <tr>
                        <td>[[item.CustomerID]]</td>
                        <td>[[item.ContactName]]</td>
                        <td>[[item.CompanyName]]</td>
                    </tr>
                    </template>
                </tbody>
            </table>
        </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorCliente extends Polymer.Element {
      static get is() { return 'gestor-cliente'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerCliente()
      {
        var request = new XMLHttpRequest();
        request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        console.log(this.clientes);
      }
      añadirCliente()
      {
        var request = new XMLHttpRequest();
        request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers" ,false)
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente={"CustomerID":"12345","ContactName":"Veronica Revilla","CompanyName":"BBVA"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
    }

    window.customElements.define(GestorCliente.is, GestorCliente);
  </script>
</dom-module>
